header .contain-to-grid{
    background: #E6DFCE;
}
.top-bar{
    background: #E6DFCE;
    height: 65px;
}
.top-bar-section ul{
    background: #E6DFCE;
}
.top-bar-section ul li.active > a{
    background: #E6DFCE;
}
.top-bar.expanded .title-area{
    background: #E6DFCE;
}
.top-bar .title-area{
    padding: 10px 20px;
}
.top-bar-section li a:not(.button){
    background: #E6DFCE;
    padding: 0;
    margin: 0px;
    line-height: 30px;
    padding-top: 15px;
    text-align: center;
}
.top-bar-section li a:hover:not(.button){
    background: #E6DFCE;
    color: #4e62a4;
}
.top-bar-section ul li > a{
    color: #4e62a4;
    font-size: 1em;
    font-weight: normal;
}
.top-bar-section ul li.active > a{
    color: #354371;
}
.top-bar-section li{
    padding: 0 15px;
}
.top-bar .toggle-topbar.menu-icon a span{
    background: url("/gfx/menu_blue.png") no-repeat;
    width: 30px;
    height: 30px;
    box-shadow: none;
}
.top-bar.expanded .toggle-topbar.menu-icon a span{
    background: url("/gfx/close_menu.png") no-repeat;
}
footer.panel{
    background: #F6F4EE;
    border: 0;
    margin-bottom: 0;
}
.footer-second{
    background: #F6F4EE;
    text-align: center;
}
footer.panel span{
    font-size: 13px;
}
.revita{
    margin: 5px 20px 0 0;
}
footer .logo_footer{
    margin-top: 5px;
}
.kontakt{
    border: 1px solid #ccc;
    text-align: center;
    margin: 40px 0;
    padding: 40px 5px;
}
.kontakt > img{
    margin-bottom: 10px;
}
.kontakt h2{
    font-weight: normal;
}
.kontakt .phone{
    margin-bottom: 10px;
}
.galleryformatter .gallery-thumbs{
    position: fixed;
    margin-left: -500px;
}
.galleryformatter-greenarrows .gallery-slides .panel-overlay{
    height: 100%;
    background: none;
    position: fixed;
}
.galleryformatter .view-full{
    z-index: 100;
    position: fixed;
}


.galleryformatter .gallery-slides{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200% !important;
    height: auto !important;
}
.galleryformatter .gallery-slides .gallery-slide{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200% !important;
    height: 200% !important;

}
.galleryformatter .gallery-slide img  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}
.galleryformatter .prev-slide, .galleryformatter .next-slide{
    display: none;
}
.fp-section{
    background: #fff;
}