@media only screen and (min-width: 940px) {
    nav.top-bar {
        text-align:center;
    }
    section.top-bar-section {
        display: inline-block;
    }
    .top-bar-section ul li.active > a{
        border-bottom: 2px solid;
    }
    .top-bar.first-page .top-bar-section ul{
        background: transparent;
    }
    #strona-kolekcja header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}
