@media only screen and (min-width: 941px) {
    nav.top-bar {
        text-align:center;
    }
    .top-bar-section li{
        padding: 0 30px;
    }
    section.top-bar-section {
        display: inline-block;
    }
    .top-bar-section ul li.active > a{
        border-bottom: 2px solid;
    }
    .top-bar.first-page .top-bar-section ul{
        background: transparent;
    }
    #strona-kolekcja header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .main-nav li a{
        display: inline-block;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 15px 25px;
        outline: medium none;
        position: relative;
        text-decoration: none;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    }
    .main-nav li a {
        padding: 0 0 10px;
    }
    .main-nav li a::after {
        background: #4e62a4 none repeat scroll 0 0;
        content: "";
        height: 1px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 100%;
        transform: translateY(-10px);
        transition: height 0.3s ease 0s, opacity 0.3s ease 0s, transform 0.3s ease 0s;
        width: 100%;
    }
    .top-bar.first-page .main-nav li a::after {
        background: #839ef6;
    }
    .main-nav li a:hover::after, .main-nav li a:focus::after {
        height: 2px;
        opacity: 1;
        transform: translateY(0px);
    }
    .img_for_small{
        display: none;
    }
    .view-kolekcja2 .sorting{
        padding-left: 10px;
    }
    .page > main.row{
        min-height: 750px;
    }
    .page-node-3 .kontakt{
        margin: 150px 0;
    }
    .view-kolekcja2 .search-box{
        padding-right: 20px;
    }
    .language-switcher-locale-url{
        margin-top: 12px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        text-align: left;
        line-height: normal;
        transition: all 0.3s ease;
        width: 50px;
        height: 50px;
    }
    .language-switcher-locale-url:hover{
        background: #F6F4EE;
        width: 100px;
        height: 160px;
    }
    .language-switcher-locale-url li{
        list-style-type: none;
        display: block;
        margin: 0;
        padding: 0 10px;
        position: relative;
        line-height: normal;
    }
    .language-switcher-locale-url li a{
        display: none;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        padding: 10px 5px;
        text-decoration: none;
        color: #839ef6;
    }
    .language-switcher-locale-url li a:hover{
        color: #000;
    }
    .language-switcher-locale-url:hover li a{
        border-bottom: 1px solid #CCCCCC;
        display: block;
    }
    .top-bar.first-page .language-switcher-locale-url:hover li a{
        border-bottom: 1px solid #574D49;
    }
    .top-bar.first-page .language-switcher-locale-url:hover li.last a{
        border-bottom: none;
    }
    .language-switcher-locale-url:hover li.last a{
        border-bottom: none;
    }
    .language-switcher-locale-url li a.active{
        display: block;
    }
    .top-bar.first-page .language-switcher-locale-url:hover{
        background: transparent;
        border: 1px solid #574D49;
    }

    .top-bar.first-page .language-switcher-locale-url li a:hover, .top-bar.first-page .language-switcher-locale-url li a:active{
        color: #fff;
    }
    .first-page .language-switcher-locale-url:hover li a{
        font-weight: normal;
    }
    .first-page .language-switcher-locale-url li a.active{
        color: #e6dfce;
    }

}








@media only screen and (min-width: 1190px) {
    .view-kolekcja2 .view-content{
        margin-left: 5px;
    }
    .view-kolekcja2 .views-row{
        width: 380px;
    }
}
@media only screen and (max-width: 1190px) {
    .view-kolekcja2 .views-row{
        width: 32%;
    }
    .view-teksty-lista .view-content{
        max-width: 800px;
    }
}
@media only screen and (max-width: 1000px) {
    .view-kolekcja2 .views-row{
        width: 49%;
    }
}
@media only screen and (max-width: 800px) {
    .view-teksty-lista .view-content{
        max-width: 415px;
    }
}
@media only screen and (max-width: 600px) {
    .view-kolekcja2 .views-row{
        width: 100%;
    }
    .view-kolekcja2 .view-content{
        margin: 0 auto;
        max-width: 480px;
    }
}