@media only screen and (min-width: 767px) {
    footer .agree{
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
        margin-bottom: 7px;
    }
    .footer-second > div{
        margin-top: -105px;
    }
}