@media only screen and (max-width: 940px) {
    .top-bar{
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .l-header-region{
        padding-top: 45px;
    }
    .top-bar-section li a:not(.button){
        padding: 10px;
    }
    .top-bar-section li a:hover:not(.button){
        background: #4e62a4;
        color: #E6DFCE;
    }
    .top-bar.first-page .top-bar-section li > a{
        color: #4e62a4;
    }
    .top-bar.first-page .top-bar-section li > a, .top-bar.first-page .top-bar-section li.active > a{
        border-bottom: 1px solid #ccc2ac;
    }
    .top-bar.first-page .top-bar-section li > a:hover{
        color: #E6DFCE;
    }
    .view-kolekcja2 .plusik{
        position: relative;
        width: 50px;
        height: 50px;
        display: block;
        margin-left: -50px;
        float: right;
        background: url("/gfx/plus-zoom.svg") no-repeat;
    }
    .view-kolekcja2 .plusik.active{
        display: none;
    }
    #strona-kolekcja .top-bar{
        position: relative;
    }
    .view-slideshow .galleryformatter .gallery-slides ul{
        display: none;
    }
    .language-switcher-locale-url{
        position: relative;
        float: left;
        width: 100%;
        background: #E6DFCE;
    }
    .language-switcher-locale-url li{
        float: left;
        width: 33.333%;
        text-align: center;
        padding: 10px;
        padding-bottom: 30px;
    }
    .language-switcher-locale-url li a{
        color: #4e62a4;
        font-weight: 300;
    }
    .language-switcher-locale-url li a:hover{
        color: #000;
    }
    .language-switcher-locale-url li a.active{
        color: #000;
    }
    .view-kolekcja2{
        margin-top: 0px;
    }

    .galleryformatter .gallery-slide img  {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1400px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;


        left: 50%;
        margin-left: -700px;   /* 50% */
    }
}