@media only screen and (max-width: 940px) {
    .top-bar{
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .l-header-region{
        padding-top: 45px;
    }
    .top-bar-section li a:not(.button){
        padding: 10px;
    }
    .top-bar-section li a:hover:not(.button){
        background: #4e62a4;
        color: #E6DFCE;
    }
}