@media only screen and (max-width: 768px) {
    footer{
        text-align: center;
    }
    footer .autors{
        display: block;
    }
    footer .autors-links{
        display: block;
    }
    footer .logo_footer{
        margin-bottom: 15px;
    }
    footer .autors{
        margin-top: 10px;
    }
    .footer-second{
        border-top: 1px solid #CCC;
    }
    .footer-second .footer_images{
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .view-kolekcja a.colorbox img{
        max-width: 250px;
    }
    .view-teksty-lista .views-row{
        max-width: 250px;
        max-height: 285px;
    }
    .view-teksty-lista .views-field-title a{
        font-size: 20px;
    }

    .view-kolekcja2 .sort-label{
        display: block;
    }
    .view-kolekcja2 .sort-view-title{
        padding-left: 20px;
    }
    .view-kolekcja2 .sorting-box{
        margin-left: 0px;
        display: block;
    }
    .view-kolekcja2 .sort-options{
        display: inline-block;
    }
    .view-kolekcja2 .sort-option-head{
        color: #000;
        cursor: default;
        margin-right: 10px;
    }
    .view-kolekcja2 .sort-option-head:after{
        content: ":";
    }
    .view-kolekcja2 .search-box input{
        width: 44px;
        font-size: 0px;
        float: right;
    }
    .view-kolekcja2 .search-box input.active{
        font-size: 14px;
        width: 100%;
    }
}